body {
	font-family: verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.headline1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
}

.headline2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
}

.standard {
	font-family: verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}

.standard_bold {
	font-family: verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
}

.scrollerTable {
	font-family: verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	padding: 2;
	border-style: solid;
	border-width: 1px;
	width: 600px;
}

.scroller {
	padding-left: 0px;
}

.paginator {
	font-family: verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0;
}

.loginTable {
	vertical-align: middle;
	align: center;
	font-family: verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	padding: 2;
	border-style: solid;
	border-width: 1px;
	width: 400px;
	height: 110px;
}

.loginTable_Header {
	background-color: #dddddd;
	text-align: left;
	vertical-align: top;
	padding: 2em;
	border-style: solid;
	border-width: 1px;
	height: 50px;
}

.loginTable_Footer {
	vertical-align: bottom;
	height: 50px;
}

.headerTable {
	font-family: verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	padding: 0;
}

.inputTable {
	font-family: verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	padding: 2;
	border-style: solid;
	border-width: 1px;
	width: 400px;
}

.standardTable {
	font-family: verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	padding: 0;
	border-style: solid;
	border-width: 1px;
	width: 600px;
}

.standardTable_Header {
	color: #000000;
	background-color: #FFDD00;
	padding: 3;
	text-align: center;
	border: none;
}

.standardTable_SortHeader {
	background-color: #FFDD00;
	color: #000000;
	padding: 3;
	text-align: center;
	border: none;
	font-weight: bold;
}

.standardTable_Footer {
	background-color: #FFFFE0;
}

.standardTable_Row1 {
	background-color: #FFFFE0;
}

.standardTable_Row2 {
	background-color: #DDDDDD;
}

.standardTable_Column {
	padding: 0.5em;
}

.standardTable_ColumnCentered {
	text-align: center;
	padding: 0.5em;
}

.standardTable_ColumnLeft {
	text-align: left;
	padding: 0.5em;
}

.standardTable_ColumnRight {
	text-align: right;
	padding: 0.5em;
}

a {
	color: #333366;
	text-decoration: underline;
	font-size: 12px;
}

a:hover {
	color: #333366;
	text-decoration: underline;
}

.error {
	font-family: verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FF0000;
}

.info {
	font-family: verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: black;
}

.sortLink {
	color: #333366;
	text-decoration: none;
}

.pageLayout {
	width: 100%;
	height: 100%;
}

.pageHeader {
	background-color: #dedede;
	text-align: center;
	vertical-align: middle;
	height: 30px;
	overflow: visible;
	color: #FFFFFF;
	padding: 0px;
	margin: 0px;
}

.pageHeader1 {
	
}

.pageHeader2 {
	width: 100%;
}

.pageHeader2col1 {
	background-color: #FFFFFF;
}

.pageNavigation {
	background-color: #dedede;
	text-align: left;
	vertical-align: top;
	border: 1px solid #ffffff;
	width: 150px;
	margin: 0;
	padding-right: 0;
}

.pageBody {
	text-align: left;
	vertical-align: top;
	width: 100%;
	padding: 20px;
	background-color: #FFFFFF;
}

.navigation {
	font-family: verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 0;
}

#hauptmenue {
	width: 200px;
	margin-top: 50px;
	margin-left: 0px;
	margin-right: 0px;
	background-color: #d;;
	text-decoration: none;
}

#hauptmenue ul {
	list-style-type: none;
	padding-left: 5px;
	margin: 0px;
}

#hauptmenue ul li {
	padding: 5px;
}

#hauptmenue ul li a {
	text-decoration: none;
}

#hauptmenue ul.menue ul li a {
	padding: 2px 20px 0px 25px;
	margin: 0px;
	background-color: #dedede;
	width: 100%;
}

#hauptmenue ul.menue ul li {
	padding: 5px;
	background-color: #dedede;;
	margin: 0px;
}

#hauptmenue ul.menue ul li a {
	margin: 0px;
}

.aktivmenuepunkt {
	padding: 0px;
	white-space: nowrap;
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;;
	white-space: nowrap;
	background-color: #ffffff;
}

.menuepunkt {
	white-space: nowrap;
	text-decoration: none;
	background-color: #dddddd;
	color: #black;
	padding: 0px;
}