body {
	font-family: verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.headline1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
}

.headline2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
}

.standard {
	font-family: verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}

.standard_bold {
	font-family: verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
}

.scrollerTable {
	font-family: verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	padding: 2;
	border-style: solid;
	border-width: 1px;
	width: 600px;
}

.scroller {
	padding-left: 0px;
}

.paginator {
	font-family: verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0;
}

.loginTable {
	vertical-align: middle;
	align: center;
	font-family: verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	padding: 2;
	border-style: solid;
	border-width: 1px;
	width: 400px;
	height: 110px;
}

.loginTable_Header {
	background-color: #dddddd;
	text-align: left;
	vertical-align: top;
	padding: 2em;
	border-style: solid;
	border-width: 1px;
	height: 50px;
}

.loginTable_Footer {
	vertical-align: bottom;
	height: 50px;
}

.headerTable {
	font-family: verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	padding: 0;
}

.inputTable {
	font-family: verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	padding: 2;
	border-style: solid;
	border-width: 1px;
	width: 400px;
}

.standardTable {
	font-family: verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	padding: 0;
	border-style: solid;
	border-width: 1px;
	width: 600px;
}

.standardTable_Header {
	color: #000000;
	background-color: #FFDD00;
	padding: 3;
	text-align: center;
	border: none;
}

.standardTable_SortHeader {
	background-color: #FFDD00;
	color: #000000;
	padding: 3;
	text-align: center;
	border: none;
	font-weight: bold;
}

.standardTable_Footer {
	background-color: #FFFFE0;
}

.standardTable_Row1 {
	background-color: #FFFFE0;
}

.standardTable_Row2 {
	background-color: #DDDDDD;
}

.standardTable_Column {
	padding: 0.5em;
}

.standardTable_ColumnCentered {
	text-align: center;
	padding: 0.5em;
}

.standardTable_ColumnLeft {
	text-align: left;
	padding: 0.5em;
}

.standardTable_ColumnRight {
	text-align: right;
	padding: 0.5em;
}

a {
	color: #333366;
	text-decoration: underline;
	font-size: 12px;
}

a:hover {
	color: #333366;
	text-decoration: underline;
}

.error {
	font-family: verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FF0000;
}

.sortLink {
	color: #333366;
	text-decoration: none;
}

.pageLayout {
	width: 100%;
	height: 100%;
}

.pageHeader {
	background-color: #6392C6;
	text-align: center;
	vertical-align: middle;
	height: 30px;
	overflow: visible;
	color: #FFFFFF;
	padding: 0px;
	margin: 0px;
}

.pageHeader1 {
	
}

.pageHeader2 {
	width: 100%;
}

.pageHeader2col1 {
	background-color: #FFFFFF;
}

.pageNavigation {
	text-align: left;
	vertical-align: top;
	background-color: #ffffff;
	border: 1px solid #ffffff;
	padding-left: 10px;
	width: 200px;
}

.pageBody {
	text-align: left;
	vertical-align: top;
	width: 100%;
	padding: 20px;
	background-color: #FFFFFF;
}

.navigation {
	font-family: verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.navitem {
	padding: 3px;
	white-space: nowrap;
	text-decoration: none;
}

a.navitem:hover,active {
	white-space: nowrap;
	text-decoration: none;
	color: #6392C6;
}

.navitem_open {
	padding: 3px;
	white-space: nowrap;
	text-decoration: none;
	font-weight: bold;
}

a.navitem_open:hover,active {
	padding: 3px;
	white-space: nowrap;
	text-decoration: none;
	font-weight: bold;
	color: #6392C6;
}

.navitem_active {
	padding: 3px;
	white-space: nowrap;
	text-decoration: none;
	font-weight: bold;
	background-color: #6392C6;
	width: 100%;
	color: #FFFFFF;
}

a.navitem_active:hover,active {
	white-space: nowrap;
	text-decoration: none;
	font-weight: bold;
	background-color: #6392C6;
	width: 100%;
	color: #FFFFFF;
}

.navseparator {
	line-height: 1px;
	border-bottom: 1px solid #ffffff;
}

.selectedMandant {
	vertical-align: bottom;
}

/*
   ------------------------------------------------------------
   Panelnavigation
   ------------------------------------------------------------
*/
#menue {
	margin-top: 17px;
	margin-left: 0px;
	margin-right: 20px;
	padding: 0px 0px 20px 0px;
	border: 1px solid #546359;
	background-color: #EAF4F4;
}


#menue ul li  a {
	display: block;
	background-color: #D1E4E4;
	color: #294747;
	text-decoration: none;
	border-bottom: 1px solid #87A8A8;
	padding: 2px 20px;
	margin: 0px;
}

#menue ul li a:visited {
	color: #294747;
}

#menue ul li a:hover {
	color: #FFFFFF;
	background-color: #87A8A8;
}

#menue ul li a:active {

}

#menue ul li a.selected {
	font-weight: bold;
	color: #294747;
	background-color: #FFFFFF;
}

#menue ul ul li a {
	padding: 2px 20px 2px 25px;
	margin: 0px;
	background-color: #FFFFFF;
}

#menu ul ul li ul li a {
	padding: 2px 20px 2px 30px;
	margin: 0px;
}

#menue ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

#menue li {
	margin: 0px;
	padding: 0px;
	display: inline;
}

#menue ul li a {
	padding: 2px 20px 2px 20px;
	margin: 0px;
	background-color: #F0F0F0;
}

#menue ul li a:hover {
	color: #FFFFFF;
	background-color: #F0F0F0;
}

