* {
	padding: 0;
	margin: 0;
}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	background-color: #ffffff;
}

h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	padding-bottom: 1em;
}

h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
}

h3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
}

a,a:link,a:visited,a:active {
	color: #000000;
	background-color: inherit;
	font-size: 11px;
}

a:hover {
	color: #ff0000;
	background-color: inherit;
	font-size: 11px;
}

hr {
	height: 1px;
	border-style: dotted;
	border-color: #000000;
	border-width: 0px 0px 1px 0px;
	width: 600px;
	margin: 1em 0 1em 0;
}

h1.headline {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	border-bottom: 1px solid #0453CC;
	padding: 0.5em;
	margin-bottom: 10px;
}

.headline1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
}

.headline2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
}

.standard {
	font-family: verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}

.standard_bold {
	font-family: verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	font-weight: bold;
}

.standardTable {
	font-family: verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	padding: 0;
	border-style: solid;
	border-width: 0px;
    border-color: #d0d0d0;
	width: 600px;
}

.scroller {
	padding-left: 0px;
}

.paginator {
	font-family: verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin: 0;
}


.headerTable {
	font-family: verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #ffffff;
	padding: 0;
}



.standardTable_Header {
	color: white;
	background-color: #CDBA96;
	padding: 0.5em;
	text-align: left;
	border: none;
	/*background: white url(/Planmich/images/verlauf.jpg) repeat-x 0 0;*/
	height: 25px;
}

.standardTable_Header a {
	color: white;
}

.standardTable_SortHeader {
	background-color: #FFDD00;
	color: #000000;
	padding: 0.5em;
	text-align: center;
	border: none;
	font-weight: bold;
}

.standardTable_Footer {
	background-color: #FFE4F1;
}

.standardTable_Row2 {
	background-color: #C7C7C7;
		vertical-align: top;
}

.standardTable_Row1 {
	background-color: #EBEBEB;
		vertical-align: top;
}

.standardTable_Column {
	padding: 0.5em;
}

.standardTable_ColumnCentered {
	text-align: center;
	padding: 0.5em;
}

.standardTable_ColumnLeft {
	text-align: left;
	padding: 0.5em;
	vertical-align: top;
}

.standardTable_ColumnRight {
	text-align: right;
	padding: 0.5em;
}

.whiteColumn {
	text-align: left;
	padding: 3px;
	background-color: white;
}

.error {
	font-family: verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FF0000;
	margin-top: 20px;
}

.error ul {
	list-style-type: none;
}	

.info {
	font-family: verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #ff0000;
	padding: 1em;
	
}

.pageLayout {
	width: 100%;
	height: 100%;
	border: 0;
}

.pageHeader {
	background-color: #A4CAFC;
	text-align: center;
	vertical-align: middle;
	height: 30px;
	overflow: visible;
	color: #FFFFFF;
	padding: 0px;
	margin: 0px;
}

.pageHeader1 {
	
}

.pageHeader2 {
	width: 100%;
}

.pageHeader2col1 {
	background-color: #FFFFFF;
}

.pageNavigation {
	background-color: #dedede;
	text-align: left;
	vertical-align: top;
	border: 0px solid #ffffff;
	width: 150px;
	margin: 0;
	padding-right: 0;
}

.pageBody {
	text-align: left;
	vertical-align: top;
	width: 100%;
	padding: 20px;
	background-color: #FFFFFF;
}

.overflow {
	overflow: auto;  
	-overflow: scroll;
	overflow-x: auto;
	width: 100%;
}