<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.0.xsd"
	default-autowire="byType">

	<bean name="mandantenListe"
		class="org.schorpp.planmich.web.jsf.MandantenListe" scope="session">
		<property name="mandantDAO" ref="mandantDAO" />
	</bean>
	
	<bean name="sessionBean"
		class="org.schorpp.planmich.web.jsf.Session" scope="session">
		<property name="service" ref="mandantService" />
	</bean>
	<!-- 
	<bean name="loginBackingBean"
		class="org.schorpp.planmich.web.jsf.LoginBackingBean" scope="request">
	</bean>-->
</beans>
